{% extends 'base.html' %}
{% block title %}Templates{% endblock %}

{% block content %}
{% load task_tags %}
<h2>Templates</h2>
<div class='table-responsive'>
  <table class="table table-hover" style="width: inherit;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Note</th>
        <th>Category</th>
        <th>Status</th>
        <th>Priority</th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <td scope="row">{{task.id}}</td>
        <td>{{task.title}}</td>
        <td>{{task.note}}</td>
        <td>{% get_category_name_by_id user.id task.category_id %}</td>
        <td>{% get_status task.status %}</td>
        <td>{% get_priority task.priority %}</td>
        <td>
          <a href="{% url 'task_manager:new_plan' task.id %}" class='btn btn-success'>Add plan</a>
          <a href="{% url 'task_manager:show_task' task.id %}" class='btn btn-primary'>Show</a>
          <a href="{% url 'task_manager:edit_task' task.id %}" class='btn btn-warning'>Edit</a>
          <form style='display: inline-block;' action="{% url 'task_manager:delete_task' task.id %}" method='post'>
            {% csrf_token %}
            <button type='submit' class='btn btn-danger' onclick="return confirm('Are you sure you want to delete this task?')">Delete</button>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<a href="{% url 'task_manager:new_template' %}" class='btn btn-primary'>Add template task</a>
{% endblock %}
